.row {
    white-space: nowrap;
    line-height: 23px;
}

.legend-title {
    margin-top: 0px;
}

.value {
    white-space: nowrap;
    line-height: 22px;
    float: right;
    border-bottom: 1px dotted;
}

.tooltip {
    visibility: hidden;
    padding: 0 10px;
    margin-left: 20px;
    border: 1px solid;
    font-size: 13px;
    position: absolute;
    z-index: 1;
}

.value:hover .tooltip {
    visibility: visible;
}

body {
    background-color: #fbfafa;
    font-family: 'Garamond';
}

#legend {
    margin-left: 20px;
    min-width: 300px
}

#title {
    font-size: 24px;
    white-space: nowrap;
    margin-left: 10px;
}

#container {
    display: flex;
    margin: 20px 10px;
}

.question-mark {
    vertical-align: top;
    margin-top: 2px;
    width: 7px;
    height: 7px;
}

#filterIcon {
    width: 20px;
    height: 20px;
}

#filterContainer {
    height: 100px;
    display: flex;
}

#filterContainer:hover #filterContent {
    visibility: visible;
}

#filterContent {
    visibility: hidden;
    padding: 20px 25px;
    margin-left: 20px;
    border: 1px solid;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    background: #fbfafa;
}

#filterContent span {
    width: 330px;
    white-space: nowrap;
    text-align: center;
}
